/*------------------------------------*\
    CODE WRAP
\*------------------------------------*/
/**
 * This component is inserted via unified tools in svelte.config.js
 *
 * Don't use this directly in markup
 */
.code-wrap {
  position: relative;

  &:before {
    content: '';
    display: block;
    background-color: #111;
    width: 100vw;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
  }
}
