---
title: First note

slug: first-note
seoTitle: First article title
seoDescription: An awesome
datePublished: Mon Jun 08 2020 22:58:11 GMT-0500 (Eastern Standard Time)
---

## heading

```css
body {
  background-color: hotpink;
}
```

And some Javascript

```js
function coolFunc() {
  console.log('yeah!')
}
```
