/*------------------------------------*\
    DOCUMENT
\*------------------------------------*/
/**
 * This section houses styles for the base elements of the page, generally body and
 * html
 */
:root {
  &,
  &[data-css-theme="light"] {
    --s-clr-selection: #{$theme-light-clr-selection};
    --s-clr-background: #{$theme-light-clr-background};
    --s-clr-base: #{$theme-light-clr-base};
    --s-clr-base-dk: #{$theme-light-clr-base-dk};
    --s-clr-primary-dk: #{$theme-light-clr-primary-dk};
    --s-clr-primary: #{$theme-light-clr-primary};
    --s-clr-primary-lt: #{$theme-light-clr-primary-lt};
  }

  &[data-css-theme="dark"] {
    --s-clr-selection: #{$theme-dark-clr-selection};
    --s-clr-background: #{$theme-dark-clr-background};
    --s-clr-base: #{$theme-dark-clr-base};
    --s-clr-base-dk: #{$theme-dark-clr-base-dk};
    --s-clr-primary-dk: #{$theme-dark-clr-primary-dk};
    --s-clr-primary: #{$theme-dark-clr-primary};
    --s-clr-primary-lt: #{$theme-dark-clr-primary-lt};
  }

  @media (prefers-color-scheme: dark) {
    --s-clr-selection: #{$theme-dark-clr-selection};
    --s-clr-background: #{$theme-dark-clr-background};
    --s-clr-base: #{$theme-dark-clr-base};
    --s-clr-base-dk: #{$theme-dark-clr-base-dk};
    --s-clr-primary-dk: #{$theme-dark-clr-primary-dk};
    --s-clr-primary: #{$theme-dark-clr-primary};
    --s-clr-primary-lt: #{$theme-dark-clr-primary-lt};
  }
}

/**
 * Fix fatty fonts in Chrome and Firefox on Mac:
 * http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 */
%fix-fatty-fonts {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Prevent Chrome and Safari from flashing when a user taps on mobile
 */
@if $responsive {
  html { -webkit-tap-highlight-color: transparent;}
}

html, body, button, input, select, textarea {
  @extend %fix-fatty-fonts;
  transition: color .3s ease-in-out;
}

body {
  font-family: $font-base-stack;
  transition: background-color .3s ease-in-out;
}



/**
 * get 60fps scrolling by disabling pointer events:
 * http://www.thecssninja.com/javascript/pointer-events-60fps
 */
.disable-hover,
.disable-hover * { pointer-events: none !important;}
