---
title: My title

seoTitle: First article title
seoDescription: An awesome
---

<script>
import Dep from './dep.svelte'
</script>

<Dep />

```css
body {
  background-color: hotpink;
}
```

And some Javascript

```js
function coolFunc() {
  console.log('yeah!')
}
```

```svelte
<script>
  export let name;
</script>

<div>
  Hello, {name}!
</div>
```

<div class="test">
and this
</div>
